[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
google-cloud-secret-manager = "*"
pyjwt = "*"
requests = "*"

[dev-packages]
black = "20.8b1"
mypy = "*"
pylint = "*"
pytest = "*"
flake8 = "*"
pylint-quotes = "*"
responses = "*"
pytest-cov = "*"
functions-framework = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false
