[[source]]
url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true

[packages]
google-cloud-pubsub = "*"
notifications-python-client = "*"
structlog = "*"
asyncio = "*"
orjson = "*"
uvloop = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = false

[dev-packages]
isort = "*"
pylint = "*"
pytest = "*"
flake8 = "*"
pylint-quotes = "*"
mypy = "*"
